* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    margin: auto;
    width: 1440px;
    height: 90px;
    background-color: #FFC107;
    display: flex;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.25);




}

main {
    display: flex;
    justify-content: center
}

#img-banner {

    margin: auto;
    padding: 15px 0px 15px 0px;


}

nav {

    margin: auto;
    justify-content: center;
    width: 1440px;
    display: flex;
    background-color: #FFA000;
    padding: 5px;

}

nav li {
    display: inline-block;
    margin-top: 5px;


}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;

}


.risoto {


    margin-top: 60px;
}

.risoto h3 {
    color: orange;
    font-size: 40px;

}

.risoto img {
    margin-top: 15px;
    margin-bottom: 4px;
    width: 560px;
}

.risoto li {

    margin-top: 10px;
    display: inline-block;
    border: 2px solid green;
    padding: 3px;
    padding-bottom: 1px;
    padding-left: 23px;
    padding-right: 20px;
    border-radius: 20px;
    color: green;

}


#ingredientes {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 2px;

}

.receita-risoto {

    display: inline-block;



}

.receita-risoto li {
    list-style-type: none;
    font-size: 17px;

}



.video h3 {
    margin-top: 40px;
}

.video iframe {

    margin-top: 20px;
}

#modo-de-preparo {

    margin-top: 30px;
    font-size: 20px;
}

#modo-de-fazer {
    margin-top: 30px;
    width: 550px;
    margin-bottom: 100px;
    font-size: 20px;
    text-align: justify;
}

.tabela-direita {
    margin-left: 300px;

}

.tabela-direita ul {
    list-style-type: none;
    margin-top: 10px;

}


.tabela-direita li {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#bolobanana {

    margin-top: 70px;
}

#tabule {
    margin-top: 70px;
}

.tabela-direita p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 4px;


}

.tabela-direita a {
    color: black;
    text-decoration: none;
}

#receitas-relacionadas {

    font-size: 35px;
    margin-top: 100px;


    color: orange;
    font-weight: bold;
}





.container {

    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;


}

.container h1 {
    display: flex;
    position: absolute;
    color: white;
    margin-left: 850px;
    width: 350px;
    height: 170px;
    font-size: 70px;
    margin-bottom: 100px;


}

.receita-da-semana {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.receita-da-semana h2 {
    color: orange;
    margin-top: 50px;
    font-size: 60px;
}


.imagens-receita ul {

    margin: auto;
    justify-content: center;
    display: flex;
}

.imagens-receita {



    margin-top: 30px;


}

.imagens-receita li {
    display: inline-block;
    margin-left: 90px;



}


.imagens-receita img {
    width: 345px;
    height: 342px;
}

.imagens-receita p {

    font-size: 30px;
    text-align: center;
    font-weight: bold;

}


.botao-verde {

    margin-top: 10px;
    background-color: green;
    color: white;
    width: 190px;
    align-items: center;
    margin-left: 80px;
    margin-top: 20px;

}

.botao-verde a {
    text-decoration: none;
    color: white;
}



.botao-verde a:hover {
    color: orange;

}


.imagem-final {
    margin-top: 90px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.imagem-final h3 {
    display: flex;
    position: absolute;
    color: white;
    margin-right: 680px;
    height: 170px;
    font-size: 70px;
    margin-bottom: 290px;

}

.imagem-final p {
    display: flex;
    position: absolute;
    color: white;
    margin-right: 700px;
    margin-top: 350px;
    width: 365px;
    font-size: 25px;
    margin-bottom: 290px;
}


.container-contato {
    position: relative;
    justify-content: center;

    display: flex;

}


.container-contato h1 {
    display: flex;
    position: absolute;
    color: white;
    margin-right: 700px;
    margin-top: 50px;
    width: 350px;
    height: 170px;
    font-size: 70px;
    margin-bottom: 100px;
}


.contato-borda {
    display: flex;
    justify-content: center;


}

.contato-borda img {
    margin-right: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}


.contato-borda input {
    width: 750px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
    margin-top: 30px;

}

.contato-borda h3 {

    font-size: 40px;
    margin-top: 60px;
    margin-left: 30px;
    color: orange;
    font-weight: bold;

}

.contato {
    margin-top: 80px;
    border: 2px solid orange;
    width: 800px;
    height: 771px;
    border-radius: 20px;



}


#enviar {
    width: 141px;
    background-color: #FFC107;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}


#mensagem {
    height: 300px;
}

#mensagem::placeholder {

    margin-top: 10px;

}

.contato-borda input::placeholder {
    position: absolute;
    margin-left: 10px;

}
/* paginas receitas */



.grid-container{

  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  width: 1100px;
  margin-top: 20px;
  margin-bottom: 80px;
  gap: 50px 2px;

}


.todas-as-receitas{



justify-content:left;
display:flex;
width: 1440px;
margin: auto;
margin-top: 100px;






}


.todas-as-receitas h1{

    margin-left: 220px;
    color: orange;
    font-weight: 900;
    font-size: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left:50px;
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
   

}



  .grid-item img{
    width: 300px;
    height: 200px;
  }

  .grid-item p{

    font-weight: 900;
    

  }

 .botao-receitas{
  
color:white;
background-color: green;
width:150px ;
margin: auto;
margin-top: 10px;

 }


.rodape {
   
    width: 1440px;
    margin: auto;
    height: 80px;
    background-color: rgb(248, 173, 33);
    display: flex;

}

.rodape p {


    margin: auto;
    color: white;

}

@media screen and  (max-width:381px){

header{

    max-width: 381px;
    
    
}
 
nav {
    max-width: 381px;
}

.container img{
    max-width: 381px;
    
}

.container h1{
    margin-left: 0px;
    font-size: 20px;
    max-width: 100px;
    margin-right: 200px;
    margin-top: 120px;
}






}